<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>問い合わせ完了</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />

</head>

<body>
    <h2>問い合わせ完了</h2>

    {% with messages=get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="flash">{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>

</html>